<template>
  <div class="about">
    <h1>About page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi amet culpa consequuntur vitae, placeat quos eligendi ducimus eos eaque repellendus hic vero dignissimos voluptates, et mollitia atque, tempore accusamus debitis! Asperiores ducimus debitis eum perspiciatis fuga ab ullam veniam enim nemo vitae exercitationem non, ipsum, obcaecati unde officia eos commodi. Possimus mollitia sit placeat eius nesciunt odio porro magni odit dignissimos voluptatem, et sint cupiditate eaque officiis quisquam voluptatum omnis quo aliquid provident saepe, dolores, iste architecto veniam facere. Blanditiis autem qui dignissimos quas architecto labore accusamus ipsam ducimus fuga?</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi amet culpa consequuntur vitae, placeat quos eligendi ducimus eos eaque repellendus hic vero dignissimos voluptates, et mollitia atque, tempore accusamus debitis! Asperiores ducimus debitis eum perspiciatis fuga ab ullam veniam enim nemo vitae exercitationem non, ipsum, obcaecati unde officia eos commodi. Possimus mollitia sit placeat eius nesciunt odio porro magni odit dignissimos voluptatem, et sint cupiditate eaque officiis quisquam voluptatum omnis quo aliquid provident saepe, dolores, iste architecto veniam facere. Blanditiis autem qui dignissimos quas architecto labore accusamus ipsam ducimus fuga?</p>
  </div>
</template>
