<template>
  <div class="home">
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus laudantium neque molestias eos quia nisi fuga nesciunt, aperiam inventore deleniti alias perspiciatis incidunt quaerat, eius perferendis amet aliquam repellat fugit iusto maiores. Nesciunt dolor nobis dolore voluptatem exercitationem, aperiam inventore esse quia pariatur atque, omnis vel aspernatur consectetur ullam quos fugit voluptate excepturi commodi? Minima, deleniti! Sint earum necessitatibus minus cum cumque sapiente numquam recusandae consectetur enim quia assumenda culpa quas, beatae, natus eos libero hic laborum, delectus perferendis unde nobis et quis repudiandae ad. Iure cumque, dolorum accusamus at eum, itaque, facilis modi reiciendis delectus id enim laudantium nemo.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus laudantium neque molestias eos quia nisi fuga nesciunt, aperiam inventore deleniti alias perspiciatis incidunt quaerat, eius perferendis amet aliquam repellat fugit iusto maiores. Nesciunt dolor nobis dolore voluptatem exercitationem, aperiam inventore esse quia pariatur atque, omnis vel aspernatur consectetur ullam quos fugit voluptate excepturi commodi? Minima, deleniti! Sint earum necessitatibus minus cum cumque sapiente numquam recusandae consectetur enim quia assumenda culpa quas, beatae, natus eos libero hic laborum, delectus perferendis unde nobis et quis repudiandae ad. Iure cumque, dolorum accusamus at eum, itaque, facilis modi reiciendis delectus id enim laudantium nemo.</p>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  components: {  }
}
</script>
